.coin-card {
    width: 600px;
    height: auto;
    background-color: #7EA3CC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

/* #card-container {

} */

#card-expanded {
    width: 400px;
    /* height: 400px; */
}

h1 {
    text-align: center;
    margin-bottom: 0%;
}
#sidebar{
    position: fixed;
    width: 20%;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}
#rankedList{
    font-family: Arial;
    list-style-type: none;
}
#rankedList li#evenRank{
    background: #7EA3CC;
}
#rankedList li#listKey{
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#rankedList li.positive span{
    color : green;
}
#rankedList li.negative span{
    color: red;
}
#market-totals{
    font-family: Arial;
    font-size: larger;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
a:hover{
    background: black;
    color: white;
}
#search{
    text-align: center;

}