.coin-card {
    width: 600px;
    height: auto;
    background-color: #7EA3CC;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

/* #card-container {

} */

#card-expanded {
    width: 400px;
    /* height: 400px; */
}

h1 {
    text-align: center;
    margin-bottom: 0%;
}
#sidebar{
    width: 17%;
    padding-left: 0rem;
    margin-left: 0rem;
    float: left;
    border: 1px solid black;
}
#rankedList{
    list-style-type: none;
}
#rankedList li#listKey{
    font-weight: bold;
}
#rankedList li.positive span{
    color : green;
}
#rankedList li.negative span{
    color: red;
}
#market-totals{
    text-align: center;
}